{% extends "base.html" %}
{% block navbar %}
  <div class="navbar navbar-static-top navbar-default">
    <div class="container row">
      <nav>
        <div class="blue-grey darken-3 nav-wrapper">
          <div class="col s12">
            <a href="{{ url_for('admin.index') }}" class="brand-logo">:) admin</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li class="{{ 'active' if request.path == '/admin/' }}"><a href="{{ url_for('admin.index') }}"><i class="large material-icons">home</i></a></li>
              <li><a target="_blank" href="{{ url_for('posts.list') }}"><i class="large material-icons">launch</i></a></li>
              <li class="{{ 'active' if request.path == '/stats/' }}"><a href="{{ url_for('stats') }}"><i class="large material-icons">equalizer</i></a></li>
              <li class="{{ 'active' if request.path == '/users/' }}"><a href="{{ url_for('list_users') }}"><i class="large material-icons">group</i></a></li>
              <li class="{{ 'active' if '/user/' in request.path }}"><a href="{{ url_for('profile', user_name=current_user.username) }}"><i class="large material-icons">settings</i></a></li>
              <li><a href="{{ url_for('logout') }}"><i class="large material-icons">exit_to_app</i></a></li>
            </ul>
            <ul class="side-nav white-text blue-grey darken-4" id="mobile-demo">
              <li><a class="white-text" href="{{ url_for('admin.index') }}">Home</a></li>
              <li><a target="_blank" class="white-text" href="{{ url_for('posts.list') }}">Visit Site</a></li>
              <li><a class="white-text" href="{{ url_for('stats') }}">Stats</a></li>
              <li><a class="white-text" href="{{ url_for('list_users') }}">Users</a></li>
              <li><a class="white-text" href="{{ url_for('profile', user_name=current_user.username) }}">Profile</a></li>
              <li><a class="white-text" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="nav-collapse fixed-action-btn horizontal">
          {% block navbar_right %}
            <!-- <a class="menu dropdown-button btn" data-activates="menu" data-beloworigin="true" data-hover="True">new +</a> -->
            <a class="menu dropdown-button btn btn-floating btn-large red"><i class="large material-icons">add</i></a>
            <!-- <ul id="menu" class="nav navbar-nav pull-right dropdown-content"> -->
            <ul>
              {% set type=('post', 'video', 'image', 'quote') %}
              {% set color=('red darken-1', 'yellow darken-1', 'green darken-1', 'blue') %}
              {% for icon in ('note_add', 'video_library', 'image', 'format_quote') %}
                <li><a class="btn-floating {{color[loop.index0]}}" href="{{ url_for('admin.create', type=type[loop.index0]) }}"><i class="material-icons">{{ icon }}</i></a></li>
              {% endfor %}
            </ul>
          {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
{% block js_components %}
<script>$( document ).ready(function(){$(".button-collapse").sideNav();})</script>
{% endblock %}