{% extends "base.html" %}
{% block navbar %}
  <style>
    .ui-menu { width: 150px; }
  </style>
  <div class="navbar navbar-static-top navbar-default">
    <div class="container">
      <nav>
        <div class="blue-grey darken-4 nav-wrapper">
          <a href="{{ url_for('admin.index') }}" class="brand-logo">:) admin</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </div>
      </nav>
      <div class="nav-collapse fixed-action-btn horizontal">
          {% block navbar_right %}
            <!-- <a class="menu dropdown-button btn" data-activates="menu" data-beloworigin="true" data-hover="True">new +</a> -->
            <a class="menu dropdown-button btn btn-floating btn-large red"><i class="large material-icons">add</i></a>
            <!-- <ul id="menu" class="nav navbar-nav pull-right dropdown-content"> -->
            <ul>
              {% set type=('post', 'video', 'image', 'quote') %}
              {% set color=('red darken-1', 'yellow darken-1', 'green darken-1', 'blue') %}
              {% for icon in ('note_add', 'video_library', 'image', 'format_quote') %}
                <li><a class="btn-floating {{color[loop.index0]}}" href="{{ url_for('admin.create', type=type[loop.index0]) }}"><i class="material-icons">{{ icon }}</i></a></li>
              {% endfor %}
            </ul>
          {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}