{% extends "admin/base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <h3>{% if create %}New{% else %}Edit{% endif %}</h3>
  <form action="?type={{ request.args.get('type') }}" method="POST">
    {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn primary" value="save" />
      <a href="{{ url_for('admin.index') }}" class="btn secondary">cancel</a>
      {% if not create %}
        <div class="right">
          <a href="{{ url_for('delete_archive_post', edit_type='archive', post_slug=form.slug.data) }}" class="btn secondary"><i class="large material-icons">{{ 'archive' if not post.archived_at else 'unarchive'}}</i></a>
          <a href="{{ url_for('delete_archive_post', edit_type='delete', post_slug=form.slug.data) }}" class="btn primary"><i class="large material-icons">delete_forever</i></a>
        </div>
      {% endif %}
    </div>
  </form>
{% endblock %}