{% extends "admin/base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <h3>{% if create %}New{% else %}Edit{% endif %}</h3>
  <form action="?type={{ request.args.get('type') }}" method="POST">
    {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn primary" value="save" />
      <a href="{{ url_for('admin.index') }}" class="btn secondary">cancel</a>
    </div>
  </form>
{% endblock %}