{% extends "admin/base.html" %}
{% block title %}:) | admin{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  {% include 'admin/search.html' ignore missing %}
  <table class="sortable highlight bordered centered responsive-table">
    <thead>
      <th class="">Title</th>
      <th class="">Category</th>
      <th class="">Created</th>
      <th class="">Archived</th>
      <th class="">Comments</th>
      <th class="sorttable_nosort">Actions</th>
    </thead>
    <tbody>
      {% if posts %}
        {% for post in posts %}
          <tr>
            <th class="center"><a href="{{ url_for('admin.edit', slug=post.slug) }}">{{ post.title }}</a></th>
            <th class="center">
              {% if post._cls.split('.')[1] == 'BlogPost' %}
                <a href="{{ url_for('admin_list_category', category='blog_post') }}">Blog Post</a>
              {% else %}
                <a href="{{ url_for('admin_list_category', category=post._cls.split('.')[1].lower()) }}">{{ post._cls.split('.')[1] }}</a>
              {% endif %}
            </th>
            </th>
            <td class="">{{ post.created_at.strftime('%Y-%m-%d') }}
              {% if post.post_author %}by {{ post.post_author.username }}{% endif %}
            </td>
            <td class="">{{ post.archived_at.strftime('%Y-%m-%d') if post.archived_at else '-' }}</td>
            {% set unread_comments = [0] %}
            {% for p in post.comments %}
              {% if not p.approved %}
                {% if unread_comments.append(unread_comments.pop() + 1) %}{% endif %}
              {% endif %}
            {% endfor %}
            <td class="">{% with total=post.comments|length %}{{ total }} comment {%- if total > 1 or total == 0 %}s{%- endif -%}{% endwith %} 
              <a href="{{ url_for('manage_comments', slug=post.slug) }}"><span class="new badge {% if unread_comments[0] == 0 %}grey{% endif %}">{{ unread_comments[0] }}</span></a></td>
            <td class="">
              <a href="{{ url_for('admin.edit', slug=post.slug) }}" class="btn primary"><i class="tiny material-icons">mode_edit</i></a>
              <a target="_blank" href="{{ url_for('posts.detail', slug=post.slug) }}" class="btn primary"><i class="tiny material-icons">visibility</i></a>
              <a href="{{ url_for('manage_comments', slug=post.slug) }}" class="btn primary"><i class="tiny material-icons">comment</i></a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr><th colspan="6" class="center">no posts to display</th></tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}

{% block js_footer %}
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock %}