{% macro render(form) -%}
  <fieldset>
      {% for field in form %}
        {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
          {{ field() }}
        {% elif field.name != "approved" and field.name != "ip" %}
          <div class="clearfix {% if field.errors %}errors{% endif %}">
            {{ field.label }}
            <div class="input">
              {% if field.name == "body" %}
                {{ field(rows=10, cols=40) }}
              {% elif field.name != "archived_at" or field.name != "post_author" %}
                {{ field() }}
              {% endif %}
              {% if field.errors or field.help_text %}
                <span class="help-inline">
                  {% if field.errors %}
                    {{ field.errors|join(' ') }}
                  {% else %}
                    {{ field.help_text }}
                  {% endif %}
                </span>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </fieldset>
{% endmacro %}