<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" ref="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {% block override_css %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
  </head>
  <body>
    <header>
      {% block navbar %}
        <div class="navbar navbar-static-top navbar-default">
          <div class="container">
            <a class="navbar-brand" href="/">:)</a>
            <div class="nav-collapse">
                {% block navbar_right %}
                  <ul class="nav navbar-nav pull-right">
                    <li></li>
                  </ul>
                {% endblock %}
            </div>
          </div>
        </div>
      {% endblock %}
    </header>
    <main>
      <div class="container page">
        <div class="content">
          {% block page_header %}{% endblock %}
          {% block content %}{% endblock %}
        </div>
        <br /><hr />
      </div>
    </main>
    {% block footer %}
      <footer class="page-footer blue-grey darken-3 container row">
        <div class="footer-copyright col s12">
          <div class="col s12 white-text">
            &copy; arguingcrab
            <a class="blue-text text-lighten-4 right" href="https://github.com/arguingcrab">git</a>
            {% if current_user.is_authenticated %}<a href="{{ url_for('purge') }}" class=""><i class="tiny material-icons">power_settings_new</i></a>{% endif %}
          </div>
        </div>
      </footer>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    {% block js_components %}{% endblock %}
    {% block js_footer %}{% endblock %}
  </body>
</html>