{% extends "base.html" %}
{% import "_forms.html" as forms %}
{% block page_header %}
  <div class="page-header">{{ post.title }}</div>
{% endblock %}
{% block content %}
  {% if post.body %}
    {% if post.post_type == "Quote" %}
      <blockquote>{{ post.body }}</blockquote>
      <p><small>{{ post.author }}</small></p>
    {% else %}
      <p>{{ post.body }}</p>
    {% endif %}
  {% endif %}
  {% if post.embed_code %}
    {{ post.embed_code|safe() }}
  {% endif %}
  {% if post.image_url %}
    <p><img class="materialboxed" width="250" src="{{ post.image_url }}" /></p>
  {% endif %}
  <p><small>{{ post.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
  <hr />
  {% if post.comments %}
  <div class="card">
    {% for comment in post.comments %}
      {% if comment.approved %}
        <p>{{ comment.body }}</p>
        <p><small><strong>{{ comment.author }}</strong> @ {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
    <p class="center small"><small>no comments to display :(</small></p>
  {% endif %}
  <hr />
  <b>add a comment</b>
  <form action="." method="POST">
    {{ forms.render(form) }}
    <small>comment will need to be approved by an admin</small>
    <div class="action">
      <input type="submit" class="btn primary" value="comment" />
    </div>
  </form>
{% endblock %}

{% block js_footer %}
<script>
  $(document).ready(function(){
      $('.materialboxed').materialbox();
    });
</script>
{% endblock %}